/* line 5, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
body {
  width: auto;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%);
  overflow: auto;
}

/* line 12, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
#main_panel {
  background-color: #2E2F30;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 12px;
  border: 2px solid #999999;
  padding: 15px;
}

/* line 21, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
.content {
  background-color: #2E2F30;
}

/* line 25, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
.panel_body {
  background-color: #666666;
}

/* line 29, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
.panel_header {
  background-color: #666666;
}

/* line 33, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
#search-input {
  border-radius: 12px;
  border: 1.5px solid #999999;
  padding: 15px;
  width: 45%;
  height: 15px;
  margin-bottom: 20px;
}

/* line 42, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
#map {
  border-radius: 15px;
  border: 1.5px solid #999999;
  width: 70%;
  display: inline-block;
}

/* line 49, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
#results_panel {
  vertical-align: top;
  display: inline-block;
  margin-left: 15px;
  width: 40%;
}

/* line 56, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
.text_input, .form-control {
  width: 70px !important;
  border-radius: 20px !important;
  border: 2px solid #73AD21 !important;
  padding: 15px !important;
  height: 15px !important;
  border-color: #999999 !important;
}

/* line 65, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
.map_container {
  display: flex;
}

/* line 69, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
#inputs_panel {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* line 74, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
.solar_outputs {
  margin-top: 5px;
}

/* line 78, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
.input_form {
  width: 120px;
  margin-right: 20px;
}

/* line 83, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
.control-label {
  color: white !important;
}

/* line 87, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
.map_button {
  margin-right: 10px;
}

/* line 91, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
#logo {
  width: 90px;
}

/* line 95, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
#logo_link {
  padding: 0px 5px 0px 5px;
}

/* line 99, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #CDCDCD;
}

/* line 103, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
.nav_item a:not(:hover), .nav_item a:not(:focus) {
  color: #cc9933 !important;
  font-family: "Bodoni MT Condensed";
  font-size: 3rem;
  font-weight: bold;
}

/* line 110, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
.nav_item a:hover, .nav_item a:focus {
  color: #BBBBBB !important;
  font-family: "Bodoni MT Condensed";
  font-size: 3.5rem;
  font-weight: bold;
}

/* line 117, C:/Projects/solarapp_master/app/assets/stylesheets/home.scss */
#about_div * {
  color: #BBBBBB !important;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */



