// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width: auto;
  height: auto;
  background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%);
  overflow:auto;
}

#main_panel {
  background-color: #2E2F30;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 12px;
  border: 2px solid #999999;
  padding: 15px;
}

.content {
  background-color: #2E2F30;
}

.panel_body {
  background-color: #666666;
}

.panel_header {
  background-color: #666666;
}

#search-input {
  border-radius: 12px;
  border: 1.5px solid #999999;
  padding: 15px;
  width: 45%;
  height: 15px;
  margin-bottom: 20px;
}

#map {
  border-radius: 15px;
  border: 1.5px solid #999999;
  width: 70%;
  display: inline-block;
}

#results_panel {
  vertical-align:top;
  display: inline-block;
  margin-left: 15px;
  width: 40%;
}

.text_input, .form-control {
  width: 70px!important;
  border-radius: 20px!important;
  border: 2px solid #73AD21!important;
  padding: 15px!important;
  height: 15px!important;
  border-color: #999999!important;
}

.map_container {
  display: flex;
}

#inputs_panel {
  margin-top: 10px;
  margin-bottom: 0px;
}

.solar_outputs {
  margin-top: 5px;
}

.input_form {
  width: 120px;
  margin-right: 20px;
}

.control-label {
  color: white !important;
}

.map_button {
  margin-right: 10px;
}

#logo {
  width: 90px;
}

#logo_link {
  padding: 0px 5px 0px 5px;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #CDCDCD;
}

.nav_item a:not(:hover), .nav_item a:not(:focus) {
  color: #cc9933!important;
  font-family: "Bodoni MT Condensed";
  font-size: 3rem;
  font-weight: bold;
}

.nav_item a:hover, .nav_item a:focus {
  color: #BBBBBB!important;
  font-family: "Bodoni MT Condensed";
  font-size: 3.5rem;
  font-weight: bold;
}

#about_div * {
  color: #BBBBBB!important;
}