<!DOCTYPE html>
<html>
  <head>
    <title>Solar Map</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="https://png.icons8.com/metro/1600/sun.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX7GWdWE0EBUkkDsg3Si1Rm0lBkCQetNE&libraries=drawing,places"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <body>
    <%= yield %>
  </body>
</html>
